*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: black;
    line-height: 1.6;
}



header{
    background-color: black;
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar {
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

}

.logo {
    color: white;
}

.menu {
    display: flex;
    gap: 25px;

    list-style: none;
}

.menu a {
    color: #dddddd;
    text-decoration: none;
    font-weight: bold;

}

.menu a:hover {
    color: #60a5fa;
}


/* ============================
            Inicio
===============================
*/
